#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 30%;
    margin: auto;
    background-color: #484646;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  .square-box {
    width: 200px;
    height: 200px;
    transform: rotate(44deg);
    margin: auto;
    /* margin-top: 5rem; */
    border-left: 30px solid rgb(62, 191, 62);
    border-bottom: 30px solid rgb(66, 169, 201);
    border-right: 30px solid rgb(162, 162, 162);
    border-top: 30px solid rgb(230, 160, 54);
    text-align: center;
    padding: 10px;
    color: #ffffff; 
    position: relative; 
  }

  .square-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transform: rotate(-44deg);
    /* border: 1px solid red; */
  }

  .square-box h1 {
    font-size: 24px;
    margin: 0;
  }

  .square-box p {
    font-size: 12px;
    margin: 10px 0;
  }
  .text {
    color: #ffffff;
  }
  span {
    color: rgb(255, 51, 0);
  }